body{background-color:rgb(253, 217, 217);
background-image:url(imgs/dd6f492c82e4509aebaabebf510585ac.jpg);
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;
background-position: bottom right;
}
