body{
background-color:rgb(241, 193, 193);
background-image:url(imgs/137ed2f31a78e365fb8c410409b51e97.jpg);
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;
background-position: bottom right;}
